<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781533002224-nvoegbrlgaq8c5fs5g2n648et05vlkth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781533002224-nvoegbrlgaq8c5fs5g2n648et05vlkth</string>
	<key>API_KEY</key>
	<string>AIzaSyAXLz0SAv0inFYtHzUD58E2B86iXpCxrZc</string>
	<key>GCM_SENDER_ID</key>
	<string>781533002224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>unify.bundle</string>
	<key>PROJECT_ID</key>
	<string>unify-8af42</string>
	<key>STORAGE_BUCKET</key>
	<string>unify-8af42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781533002224:ios:c3a201931490c26c</string>
	<key>DATABASE_URL</key>
	<string>https://unify-8af42.firebaseio.com</string>
</dict>
</plist>